main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background: #dcdcdc;
}

ul {
  list-style: none;
}

h2,
p {
  margin: 0;
}
